*{
    box-sizing: border-box;
    margin: 0;
}

img {
    height: 50px;
    width: 50px;
}

header {
    background-color: lightcoral;
    color: white;
    display: flex;
    justify-content: space-between;
    
}

h1 {
    padding: 20px 30px;
}

nav {
    background-color: gray;
    display: flex;
    justify-content: end;
    color: white
}

ul {
    color: white;
    list-style-type: none;
    display: flex;
    padding: 10px;
}

li{
    margin: 1px 20px;
    color: white;
}

a:hover {
    color: salmon;
}

a {
color: white;
    text-decoration : none;
}

section{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80%;

    display: flex;
    justify-content: space-around;

}

footer{
    color: gray;
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th {
    background-color: lightsalmon;

}

td, th {
    width: 130px;
}

form h2 {
    margin-bottom: 20px;
}

body {
    position: relative;
    height: 100;
}

